body {
	margin:20px;
	padding-top:1px;
	padding-left:10px;
	outline: 5px dashed #408c42;
	border-radius: 13px;
	height: 90vh;
	min-height: 50vh;
}

.outline {
	outline: 4px dashed #3ffb46;
	border-radius: 5px;
	background: rgb(63,251,70);
	background: radial-gradient(circle, rgba(63,251,70,1) 0%, rgba(70,242,252,1) 100%);
}

.center {
	text-align: center;
}

.heading {
	color: #408c42;
	width: -moz-fit-content;
	width: fit-content;
	padding: 0 5px;
	margin: 10px auto 10px;
}

a {
	color: #3ab8bf;
}

a:visited {
	color: #000 !important;
}

a.nav {
	text-decoration:none;
	background: rgba(63,251,70, 0.2);
	padding: 10px;
	border-radius: 15px;
}

.navigation {
	margin: 15px 5px;
}

img {
	border-radius: 25px;
	
}

img.profile {
	width:300px;
	height:300px;
}

img.about {
	width:200px;
	height:200px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.larger {
	font-size: 1.15	em;
}