/* --- Color Palette --- */
:root {
	--primary: #408C42;
	--secondary: #779974;
	--light: #F4FbF3;
	--alternative: #F6EDD9;
  }



/* --- Contact validation --- */

input:invalid, textarea:invalid {
    border: 2px solid var(--secondary);
    box-shadow: 0 0 3px 1px var(--secondary);
    border-radius: 4px;
}

input:valid, textarea:valid{
    border: 2px solid var(--secondary);
    border-radius: 4px;
}


p > label {
    display: block;
}

textarea {
    min-width: 30vw;
    height: auto;
}

#form_status {
    color: var(--primary);
    font-weight: bold;
}

#form_status > div.error {
    color: var(--primary);
    font-weight: bold;
}