/* --- Color Palette --- */
:root {
  --primary: #408c42;
  --secondary: #779974;
  --light: #f4fbf3;
  --alternative: #f6edd9;
}

/* --- Body / Content --- */
body {
  font-family: "ABeeZee", sans-serif;
  margin: 0;
}

.content {
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}

div.main {
  font-size: 1.5em;
  align-items: center;
  position: relative;
  margin-top: 5rem;
}

/* --- Navigation Bar --- */
nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid var(--light);
}

nav div {
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  height: 3em;
  align-items: center;
  background: #fff
}

div.nav {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.nav.socials {
  display: none;
}

.dropdown.links {
  display: none;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.dropdown:hover .dropdown.links {
  display: grid;
}

.nav {
  position: relative;
}

div.nav.name {
  font-size: 1em;
}

a.nav.icon {
  margin: 2px;
}

a.nav::after {
  position: absolute;
  content: "";
  background: var(--primary);
  bottom: 0;
  right: 0;
  height: 2px;
  border-radius: 10px;
  width: 0%;
  transition: 225ms ease-in-out;
}

.nav:hover::after {
  width: 100%;
  left: 0;
}

nav a {
  color: #000 !important;
}

nav .middle {
  gap: 20px;
}

a:visited {
  color: #000 !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

a.nav {
  text-decoration: none;
  background: var(--alternative);
  padding: 10px;
  border-radius: 10px;
  font-size: 0.75em;
}

nav .active {
  outline: 2px dashed var(--secondary);
  font-weight: bold;
}

/* --- --- --- --- --- --- */

/* --- Footer --- */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0px;
  height: auto;
  overflow: hidden;
  border-top: 2px solid var(--secondary);
  background: var(--light);
  width: 100%;
}

/* --- Center Text--- */

.center {
  text-align: center;
}

/* --- Headings --- */

.heading {
  font-size: 2.25em;
  color: var(--primary);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 5px;
  margin: 10px auto 10px;
}

/* --- Links --- */
a {
  color: #000;
}

/* --- Images --- */

img {
  border-radius: 25px;
}

img.profile {
  min-width: 30px;
  max-width: 300px;
  max-height: 300px;
  height: auto;
  padding-left: 4px;
  padding-right: 4px;
}

img.about {
  width: 200px;
  height: 200px;
}

/* --- Floats --- */

.right {
  float: right;
}

.left {
  float: left;
}

.larger {
  font-size: 1.15 em;
}

/* --- Loading Symbol (hourglass) --- */

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid var(--secondary);
  border-color: var(--secondary) transparent var(--secondary) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

div.about {
  padding: 15px;
}

.bulletless {
  list-style-type: none;
  padding-left: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  gap: 0.75rem;
  padding: 0.75rem;
}

.card {
  position: relative;
  background-color: var(--secondary);
  border: 4px solid var(--primary);
  border-radius: 8px;
}

.card_image {
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
  position: relative;
}

.card_image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_content {
  padding: 10px;
}

.card_title {
	font-weight: bold;
	font-size: large;
  margin-bottom: 20px;
}

.resume {
	height:100%;
}

/* --- Responsiveness --- */
@media screen and (min-width: 800px) {
  div.main {
    display: flex;
    margin-top: 0rem;
  }

  div.nav.name {
    font-size: 1.35em;
  }

  a.nav {
    font-size: 1em;
  }

  div.nav.socials {
    display: flex;
  }
}
